.btn_primary {
  background-color: #bda624;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.btn_secondary {
  background-color: blue;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  background-color: blue;
  justify-content: space-between;
}
.nav__title {
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.hero__subtitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.send_form {
  background-color: #cccaca;
  border: black solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}