.btn_primary{
    background-color: $secondary-colour;
    color: $text-colour;
    font-family: $secondary-font;
}

.btn_secondary{
    background-color: $primary-colour;
    color: $text-colour;
    font-family: $secondary-font;
}