$primary-colour: blue;
$secondary-colour: rgb(189, 166, 36);
$text-colour: white;

$primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$secondary-font:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;